/* - - - - - - - - - - - - - - - - - - - - -

 Title : Confluence Custom
 Author : Seth Hein
 URL : http://

 Last Updated : 2024-08-15

- - - - - - - - - - - - - - - - - - - - - */

#logo a {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 0;
    display: block;
}

.redesigned-theme-2018 #logo a, .redesigned-theme-2018 .logo a {
    background-position: 0% 0px !important;
    background-size: auto !important;
    margin-bottom: 0 !important;
}

html {
    background-image: none;
}

#logo {
}

#container, html.embed {
    background-color: #ffffff;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    background: #ffffff url(/images/fieldbg.gif) repeat-x top;
    border: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    border-bottom: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    border-right: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
}

.wufoo .wufoo-dropdown .wufoo-dropdown-control {
    background: #ffffff url(/images/fieldbg.gif) repeat-x top;
    border: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    border-bottom: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    border-right: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
}

.wufoo .wufoo-dropdown .wufoo-dropdown-menu {
    background: #ffffff url(/images/fieldbg.gif) repeat-x top;
}

.safari .wufoo select.select {
    font-size: 100% !important;
}

.safari .wufoo input.file {
    background: none;
    border: none;
}

.wufoo li.focused {
    background-color: #fff7c0 !important;
}

.wufoo .instruct {
    background-color: #f5f5f5;
}

.redesigned-theme-2018 .wufoo .user-instructions small, .redesigned-theme-2018 .wufoo .user-instructions:focus::after, .redesigned-theme-2018 .wufoo .user-instructions:hover::after {
    background-color: #f5f5f5;
}

#container {
    border: 1px solid #CCCCCC;
}

.redesigned-theme-2018#container {
    border: none;
}

.wufoo .info, .wufoo .paging-context {
    border-bottom: 1px dotted #CCCCCC;
}

.wufoo .section h3, .wufoo .captcha, #payment .paging-context {
    border-top: 1px dotted #CCCCCC;
}

.redesigned-theme-2018 .wufoo .info, .redesigned-theme-2018 .wufoo .paging-context {
    border-bottom: 1px solid #CCD0D9;
}

.redesigned-theme-2018 .wufoo .section h3, .redesigned-theme-2018 .wufoo .captcha, .redesigned-theme-2018 #payment .paging-context {
    border-top: 1px dotted #CCD0D9;
}

.wufoo .instruct {
    border: 1px solid #E6E6E6;
}

.redesigned-theme-2018 .wufoo .user-instructions small {
    border: 1px solid #D0D2D3;
}

.redesigned-theme-2018 .wufoo .user-instructions:hover::before, .redesigned-theme-2018 .wufoo .user-instructions:focus::before, .redesigned-theme-2018 .wufoo .user-instructions:hover::after, .redesigned-theme-2018 .wufoo .user-instructions:focus::after {
    border: none;
}

.fixed .info {
    border-bottom: none;
}

.wufoo li.section.scrollText {
    border-color: #dedede;
}

.wufoo .info h2 {
    font-size: 160% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
}

.redesigned-theme-2018 .wufoo .info h2 * {
    font-family: inherit;
}

.redesigned-theme-2018 .wufoo .info h2 {
    font-size: 34px !important;
}

.redesigned-theme-2018 .wufoo .info h2 {
    color: #282828 !important;
}

.redesigned-theme-2018 .wufoo .info h2 {
    font-weight: 300 !important;
}

.wufoo .info div {
    font-size: 95% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
}

.redesigned-theme-2018 .wufoo .info div * {
    font-family: inherit;
}

.redesigned-theme-2018 .wufoo .info div {
    font-size: 26px !important;
}

.redesigned-theme-2018 .info div {
    font-weight: 300 !important;
}

.wufoo .section h3 {
    font-size: 110% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
}

.redesigned-theme-2018 .wufoo .section h3 * {
    font-family: inherit;
}

.redesigned-theme-2018 .wufoo .section h3 {
    font-size: 26px !important;
}

.redesigned-theme-2018 .wufoo .section h3 {
    color: #282828 !important;
}

.redesigned-theme-2018 .wufoo .section h3 {
    font-weight: 300 !important;
}

.wufoo .section div {
    font-size: 85% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
}

.redesigned-theme-2018 .wufoo .section div * {
    font-family: inherit;
}

.redesigned-theme-2018 .wufoo .section div {
    font-size: 18px !important;
}

.redesigned-theme-2018 .wufoo .section div {
    font-weight: 300 !important;
}

.wufoo label.desc, .wufoo legend.desc, .likert caption {
    font-size: 95% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #000000 !important;
}

.redesigned-theme-2018 .wufoo li.paging-context b *, .redesigned-theme-2018 .wufoo li .wufoo-dropdown *, .redesigned-theme-2018 .wufoo label.choice *, .redesigned-theme-2018 .wufoo label.desc *, .redesigned-theme-2018 .wufoo legend.desc *, .redesigned-theme-2018 .likert thead td *, .redesigned-theme-2018 .likert tbody label *, .redesigned-theme-2018 .likert caption * {
    font-family: inherit;
}

.redesigned-theme-2018 .wufoo label.desc, .redesigned-theme-2018 .wufoo legend.desc, .redesigned-theme-2018 .likert caption {
    font-size: 18px !important;
}

.redesigned-theme-2018 .wufoo label.desc, .redesigned-theme-2018 .wufoo legend.desc, .redesigned-theme-2018 .likert caption {
    font-weight: 300 !important;
}

.wufoo label.choice {
    font-size: 100% !important;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
}

.redesigned-theme-2018 .wufoo li span:not(.star) {
    font-size: 18px !important;
}

.redesigned-theme-2018 .wufoo li div span.choice__text {
    font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo label.desc, .redesigned-theme-2018 .wufoo legend.desc, .redesigned-theme-2018 .wufoo li span, .redesigned-theme-2018 .wufoo li span label, .redesigned-theme-2018 .wufoo li div span.choice__text, .redesigned-theme-2018 .wufoo ul li span.symbol, .redesigned-theme-2018 li div span.choice__qty, .redesigned-theme-2018 li div span.choice__qty span, .redesigned-theme-2018 .wufoo li .wufoo-dropdown-menu, .redesigned-theme-2018 .wufoo li.focused span {
    color: #000000 !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select, .wufoo li .wufoo-dropdown span {
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
    font-size: 100% !important;
}

.redesigned-theme-2018 .wufoo input.text, .redesigned-theme-2018 .wufoo textarea.textarea, .redesigned-theme-2018 .wufoo textarea.textarea::placeholder, .redesigned-theme-2018 .wufoo input.file, .redesigned-theme-2018 .wufoo select.select, .redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
    font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo input.text, .redesigned-theme-2018 .wufoo textarea.textarea, .redesigned-theme-2018 .wufoo input.file, .redesigned-theme-2018 .wufoo select.select, .redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
    font-weight: 300 !important;
}

{
    * Custom Fonts Break Dropdown Selection in IE *
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-family: inherit;
}

.redesigned-theme-2018 .wufoo input.text, .redesigned-theme-2018 .wufoo textarea.textarea, .redesigned-theme-2018 .wufoo input.file {
    font-family: inherit;
}

.safari .wufoo select.select {
    background: #ffffff url(/images/fieldbg.gif) repeat-x top;
    border: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    border-bottom: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    border-right: 1px solid Background color 'ffffff url(/images/fieldbg.gif) repeat-x top' is not a hex color value.#;
    font-size: 100% !important;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-family: inherit;
    color: #000000;
}

.safari .wufoo input.file {
    font-size: 100%;
    font-family: inherit;
    color: #000000;
}

.wufoo .instruct small, .redesigned-theme-2018 .wufoo label.desc .user-instructions small {
    font-size: 80%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions, .redesigned-theme-2018 .wufoo legend.desc .user-instructions {
    font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions small, .redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
    font-size: 80% !important;
    color: #000000 !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: normal;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions small, .redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
    font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions small, .redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
    font-weight: 300 !important;
}

.altInstruct small, li.leftHalf small, li.rightHalf small, li.leftThird small, li.middleThird small, li.rightThird small, .iphone small {
    color: #000000 !important;
}

.wufoo input.btTxt {
}

.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file {
    color: #000000;
}

{
    * possibility to make the border colour the new highlight colour *
}

{
    * .redesigned-theme-2018 .wufoo input.text:focus, .redesigned-theme-2018 .wufoo ul li.focused input.text, .redesigned-theme-2018 .wufoo ul li.focused textarea.textarea {
        *
    }

    {
        * border: 1px solid #fff7c0;
        *
    }

    {
        *
    }

    *
}

.confirm h2 {
    font-family: inherit;
    color: #000000;
}

a.powertiny b, a.powertiny em {
    color: #1a1a1a !important;
}

.embed a.powertiny b, .embed a.powertiny em {
    color: #1a1a1a !important;
}

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker {
    font-family: inherit;
    color: #000000;
}

.pgStyle1 var, .pgStyle2 td {
    border: 1px solid #cccccc;
}

.pgStyle1 .done var {
    background: #cccccc;
}

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em {
    background: #fff7c0;
    color: #000000;
}

.pgStyle1 .selected var {
    border: 1px solid #e6dead;
}

.likert table {
    background-color: #ffffff;
}

.likert thead td, .likert thead th {
    background-color: #e6e6e6;
}

.likert tbody tr.alt td, .likert tbody tr.alt th {
    background-color: #f5f5f5;
}

.likert table, .likert th, .likert td {
    border-color: #dedede;
}

.likert td {
    border-left: 1px solid #cccccc;
}

.likert caption, .likert thead td, .likert tbody th label {
    color: #000000;
    font-family: inherit;
}

.redesigned-theme-2018 .likert thead td, .redesigned-theme-2018 .likert thead th, .redesigned-theme-2018 .likert tbody th label {
    color: #000000 !important;
}

.likert tbody td label {
    color: #1a1a1a;
    font-family: inherit;
}

.likert caption, .likert tbody th label {
    font-size: 95%;
}

.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label {
    background-color: #fff7c0;
    color: #000000;
}

.likert tbody tr:hover td {
    border-left: 1px solid #ccc69a;
}

.redesigned-theme-2018 .likert tbody tr:hover label, .redesigned-theme-2018 .likert tbody tr:hover td, .redesigned-theme-2018 .likert tbody tr:hover th {
    color: #000000;
}

.wufoo #lola {
    background: #e6e6e6;
}

.wufoo #lola tbody td {
    border-bottom: 1px solid #cccccc;
}

.wufoo #lola {
    font-family: inherit;
    color: #000000;
}

.wufoo #lola tfoot th {
    color: #333333;
}

.wufoo .wfo_graph h3 {
    font-size: 95%;
    font-family: inherit;
    color: #000000;
}

.wfo_txt, .wfo_graph h4 {
    color: #000000;
}

.wufoo .footer h4 {
    color: #000000;
}

.wufoo .footer span {
    color: #000000;
}

.wfo_number {
    background-color: #f5f5f5;
    border-color: #dedede;
}

.wfo_number strong, .wfo_number em {
    color: #000000;
}

#widget, #widget body {
    background: #ffffff;
}

.fcNav a.show {
    background-color: #ffffff;
    border-color: #cccccc;
}

.fc table {
    border-left: 1px solid #dedede;
}

.fc thead th, .fc .more th {
    background-color: #dedede !important;
    border-right: 1px solid #cccccc !important;
}

.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td {
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #dedede;
}

.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt {
    background-color: #f5f5f5;
}

.fc caption, .fcNav, .fcNav a {
    color: #000000;
}

.fc tfoot, .fc thead th, .fc tbody th div, .fc tbody td.count, .fc .cards tbody td a, .fc td.percent var, .fc .timestamp span {
    color: #000000;
}

.fc .indent .count {
    color: #0a0a0a;
}

.fc .cards tbody td a span {
    color: #4d4d4d;
}

.fc tbody tr:hover td, .fc tbody tr:hover th, .fc tfoot tr:hover td, .fc tfoot tr:hover th {
    background-color: #fff7c0;
}

.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var, .fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var {
    color: #000000;
}

.invoice thead th, .invoice tbody th, .invoice tbody td, .invoice tfoot th, .invoice .total, .invoice tfoot .last th, .invoice tfoot .last td, .invoice tfoot th, .invoice tfoot td {
    border-color: #dedede;
}

.invoice thead th, .wufoo .checkNotice {
    background: #f5f5f5;
}

.invoice th, .invoice td {
    color: #000000;
}

#ppSection, #ccSection {
    border-bottom: 1px dotted #CCCCCC;
}

#shipSection, #invoiceSection {
    border-top: 1px dotted #CCCCCC;
}

@media only screen and (max-width: 480px) {
    html {
        background-color: #ffffff;
    }

    a.powertiny b, a.powertin em {
        color: #1a1a1a !important;
    }
}
